.new-post {
    padding: 16px 0;
    border-bottom: 1px solid gainsboro;
}

.new-post header, .posts header {
    margin-bottom: 20px;
}

.posts .post {
    padding-left: 10px;
    border-left: 3px solid #337ab7;
    margin-bottom: 30px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
    color: #337ab7;
}
.posts .post .info {
    color: darkred;
    font-style: italic;
}
.error {
    border: 1px solid red;
    background-color: #ffb3a4;
    color: red;
}
.error ul, .success ul {
    list-style: none;
    margin: 0;
    padding: 0;
text-align: center;
}
.success {
    border: 1px solid green;
background-color: #c7ffcf;
    color: green;
}
#listUsers {
    margin: 0;!important;
}
 .alert>ul {
    margin-bottom: 0;
    list-style-type: none;
}
 .interaction a {
     color: white;
 }
 .links {
     margin-top: 10px;!important;
     padding: 0;
 }